{%- comment -%}
Main Tillerstead logo include.
Uses compact header logo on all viewports; CSS controls size.
{%- endcomment -%}

<a href="{{ '/' | relative_url }}" class="ts-logo-link" rel="home" aria-label="Tillerstead LLC home">
  <svg class="ts-logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 660 240" width="220" height="80" role="img" aria-labelledby="tsLogoTitleMain" focusable="false">
    <title id="tsLogoTitleMain">Tillerstead LLC main logo</title>
    <use href="#logo-full" />
  </svg>
</a>
