/* ============================================
   Deprecated Theme Entry
   This file now proxies to theme/_tillerstead.scss
   ============================================ */

@import "../theme/tillerstead";
