name: Push Initial Commit
on: workflow_dispatch

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Push to main
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git push -u origin main --force
